
*, *:before, *:after {
    box-sizing: border-box;
  }

body {
    background: #9fbfdf ;
    font-family : 'Titillium Web', sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
}

#projectname {
  font-weight: bold;
  color: #13232f;
  text-decoration: none
}

#navbar {
  margin-top: 40px;
}

#navbar a{
  font-weight: bold;
  color: #13232f;
  text-decoration: none
}

.login-page {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
}
.myform {
  position: relative;
  z-index: 1;
  background: #13232f;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

  a {
    text-decoration:none;
    color: #9fbfdf;
    transition:.5s ease;
  }

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

label {
  position: relative;
  transform:translateY(6px);
  font-weight: bold;
  left:-75px;
  color: #9fbfdf ;
  transition:all 0.25s ease;
  pointer-events: none;
  font-size:22px;
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}

label.highlight {
	color:white;
}

input {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3b0;
  color: white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}
.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    font-weight: 600 ;
    text-transform:uppercase;
    letter-spacing:.1em;
    background: #4080bf;
    color: white;
    transition:all.5s ease;
    -webkit-appearance: none;
  }
  
  .button-block {
    display:block;
    width:100%;
  }
.forgot {
    margin-top: 0px;
    text-align:right;
  }

#createacc{
  border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:1rem;
    font-weight: 600 ;
    text-transform:uppercase;
    letter-spacing:.1em;
    background: #4080bf;
    color: white;
    transition:all.5s ease;
    -webkit-appearance: none;
}